* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    /* background-color: #150143; */

body {
  height: 100vh;
  width: 100vw;
    background-color: #0A1045;
}

.heroContainer {
    height: 100%;
    width: 100%;   
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1440' height='1080' x='0' y='0' fill='rgba(10%2c 16%2c 69%2c 1)'%3e%3c/rect%3e%3cpath d='M312.13 237.86 a289.6 289.6 0 1 0 579.2 0 a289.6 289.6 0 1 0 -579.2 0z' fill='rgba(64%2c 121%2c 140%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M284.71689503488017 707.9546087603957L444.0753297838346 633.6445502453645 210.40683651984898 548.5961740114412z' fill='rgba(64%2c 121%2c 140%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M966.2777485655481 540.2220035095318L1078.7024213169568 452.3862226241347 890.7364136131569 327.66710393971994z' fill='rgba(64%2c 121%2c 140%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M88.95 879.36 a197.47 197.47 0 1 0 394.94 0 a197.47 197.47 0 1 0 -394.94 0z' fill='rgba(64%2c 121%2c 140%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M870.1789993485775 349.56061920844L698.6112060588639 460.9780469189209 951.5212442694419 662.6210229982506z' fill='rgba(64%2c 121%2c 140%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

#hero {
    width: 100%;
    height: 100%;
    max-height: 1080px;
    background: url("./20210618_171720-removebg.png") no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container {
    margin: 0;
}

a {
    color: #E6E8E6;
    font-size: large;
    padding: 10px;
}

a:hover {
    color: #ffffff;
    transition: 250ms;
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.emailSubmit {
    width: 31rem !important;
    background-color: rgb(255, 255, 255) !important;
    margin: 10px 0 !important;
    padding: 6px !important;
    border-radius: 8px !important;
}

.aboutMePicContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.aboutMePic {
    height: 350px;
    border-radius: 50em;
    border: rgb(255, 255, 255) 6px solid;
}

.aboutMeInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    color: white;
    padding: 10px;
    text-align: center;
}

.aboutMeInfo p {
    font-size: 24px;
}

.aboutMeContainer {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-between;
background-color: #150243;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23323eb0' fill-opacity='0.35'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 90%;
    margin: 0;
}

h1 {
    margin: 0px;
    font-weight: 400;
    color: white;
}

h2 {
    margin: 0px;
    font-weight: 100;
    color: white;
}

.contactButton {
    margin-top: 15px;
}